# .gradle
# gradle/wrapper/

**build**
buildSrc/
!**src/main/**
build/
hw01-gradle/build 
*.log

### Package File ###
*.jar
*.war
*.nar
*.ear
*.zip
*.rar

### IntelliJ IDEA ###
.idea
*.idea
*.iws
*.iml
*.ipr
